@model IEnumerable<MES.Models.Product>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        Search Filters @ViewBag.RawUrl
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.Label("Reference")
                            @Html.TextBox("reference", ViewBag.reference as string, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Article Number")
                            @Html.TextBox("article", ViewBag.article as string, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Suquence", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownList("SequenceId", null, new { @class = "form-control" })                            
                            

                        </div>
                        <div class="col-md-2">
                            <br />
                            <input type="submit" value="Export To Excel" class="btn btn-success" name="action:Excel" />                   
                        </div>
                        <div class="col-md-2">
                            <br />
                            @Html.ActionLink("Import From Excel", "Import", null, new { @class = "btn btn-warning"})
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <input type="submit" value="Search" class="btn btn-success" name="action:Index" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Excel File To Be Downloaded
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Request.ApplicationPath/UploadedFiles/xlsx/@ViewBag.ExcelFile" class="btn btn-success">Download @ViewBag.ExcelFile</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>