@model IEnumerable<MES.Models.Workorder>

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm(FormMethod.Post))
{


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        Search Filters @ViewBag.RawUrl
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.Label("WorkOrder Number")
                            @Html.TextBox("workOrder", ViewBag.workOrder as string, new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("From Date")
                            @Html.TextBox("fromDateTime", ViewBag.fromDateTime as string, new { @class = "form-control form_datetime" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("To Date")
                            @Html.TextBox("toDateTime", ViewBag.toDateTime as string, new { @class = "form-control form_datetime" })
                        </div>
                        <div class="col-md-2">
                           
                        </div>
                        <div class="col-md-2">
                            <br />
                            <input type="submit" value="Export To Excel" class="btn btn-success" name="action:Excel" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <input type="submit" value="Search" class="btn btn-success" name="action:Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Search Result
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Number)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reference.Reference)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EntryThroughMachine.Name)
                                </th>

                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reference.Reference)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EntryThroughMachine.Name)
                                    </td>
@if (ViewBag.IsAdmin == true)
{
    <td>
        @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
        @Html.ActionLink("Details", "Details", new {id = item.Id}) |
        @Html.ActionLink("Delete", "Delete", new {id = item.Id})
    </td>
}
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/datetime")
    <script type="text/javascript">

                                $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });

    </script>

}